ol {
  min-width: 340px;
  padding: 0;
  margin: 0;

  font-size: 16px;
  font-weight: 600;
  & li {
    display: flex;
    justify-content: space-between;
    height: 25px;

    margin: 10px 0;
    padding: 10px;
  }
  & button {
    background-color: #fff;
    color: #f44336;
    border: 1px solid #f44336;
    border-radius: 4px;
    padding: 3px 10px;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;

    min-width: 100px;
    margin-left: 15px;
    &:hover {
      background-color: #f44336;
      color: white;
    }
  }
}

.filter {
  &-label {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    width: 400px;
  }
  &-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
      border-color: #45a049;
    }
  }
}
